<div class="podcast-item ion-padding">
  <div class="header">
    <ion-avatar>
      <img [src]="track?.author?.image" />
    </ion-avatar>
    <ion-label>
      <h5>{{ track?.author?.name }}</h5>
      <ion-note>{{ track?.createdAt | date }}</ion-note>
    </ion-label>
  </div>
  <div class="content">
    <h5>{{ track.title }}</h5>
    <p>{{ track.description | truncate: 100 }}</p>
  </div>
  <div class="controls">
    <ion-chip (click)="play()" outline>
      <ng-container *ngIf="isPlaying; else duration">
        <div class="bars-icon">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
        <ion-text>Playing</ion-text>
      </ng-container>
      <ng-template #duration>
        <ion-icon color="primary" name="play-circle-outline"></ion-icon>
        <ion-label>{{ track.duration | duration }}</ion-label>
      </ng-template>
    </ion-chip>
    <ion-button (click)="addToFavorites()" fill="clear">
      <ion-icon
        *ngIf="liked"
        color="danger"
        name="heart"
        size="large"
      ></ion-icon>
      <ion-icon
        *ngIf="!liked"
        color="primary"
        name="heart-outline"
        size="large"
      ></ion-icon>
    </ion-button>
    <ion-button (click)="download()" fill="clear" class="download-button">
      <ion-spinner *ngIf="isDownloading" mode="md" color="dark"></ion-spinner>
      <ion-icon
        [color]="downloaded ? 'success' : 'primary'"
        [name]="'arrow-down-circle' + (downloaded ? '' : '-outline')"
        size="large"
      ></ion-icon>
    </ion-button>
  </div>
</div>
