.podcast-item {
  border-bottom: solid 1px lightgrey;
  background: var(--ion-color-primary-contrast);

  .header {
    display: flex;
    width: 100%;
    ion-avatar {
      --border-radius: 6px;
      margin-right: 10px;
      height: 50px;
      width: 50px;
    }

    p {
      color: var(--ion-color-dark);
    }
  }

  .content {
    p {
      font-size: 14px;
      margin: 0;
    }
  }

  .controls {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    ion-chip {
      margin-right: 10px;
    }

    ion-button {
      --border-radius: 50%;
      height: 30px;
      width: 30px;
      --padding-start: 0;
      --padding-end: 0;
      margin-right: 10px;
    }

    .download-button {
      position: relative;

      ion-spinner {
        position: absolute;
        height: 36px;
        width: 36px;
      }
    }
  }
}

.bars-icon {
  position: relative;
  height: 16px;
  width: 16px;

  .bar {
    background: var(--ion-color-primary);
    bottom: 1px;
    height: 3px;
    position: absolute;
    width: 3px;
    animation: sound 0ms -800ms linear infinite alternate;
  }

  @keyframes sound {
    0% {
      opacity: 0.35;
      height: 3px;
    }
    100% {
      opacity: 1;
      height: 15px;
    }
  }

  .bar:nth-child(1) {
    left: 1px;
    animation-duration: 474ms;
  }
  .bar:nth-child(2) {
    left: 5px;
    animation-duration: 433ms;
  }
  .bar:nth-child(3) {
    left: 9px;
    animation-duration: 407ms;
  }
}
