<div *ngIf="currentTrack" class="player">
  <div *ngIf="expanded; else preview" class="expanded">
    <ion-icon
      (click)="expanded = false"
      class="close-button"
      size="large"
      name="chevron-down"
    ></ion-icon>
    <ion-label>
      <h5>{{ currentTrack.title }}</h5>
      <p>{{ currentTrack.author?.name }}</p>
    </ion-label>

    <ion-buttons mode="ios" class="ion-justify-content-center">
      <ion-button fill="clear">
        <ion-icon name="play-skip-back-sharp"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="playOrPause()">
        <ion-icon
          size="large"
          [name]="isPlaying ? 'pause-sharp' : 'play-sharp'"
        ></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon name="play-skip-forward-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-range
      #r
      [(ngModel)]="progress"
      (touchend)="seek(r.value)"
      (mouseup)="seek(r.value)"
    ></ion-range>

    <div class="times">
      <ion-note>00:00</ion-note>
      <ion-note>{{ currentTrack?.duration | duration: 'short' }}</ion-note>
    </div>
  </div>

  <ng-template #preview>
    <div class="preview" (click)="expanded = true">
      <ion-avatar>
        <img [src]="currentTrack?.author?.image" />
      </ion-avatar>
      <ion-label>
        <h5>{{ currentTrack.title }}</h5>
        <ion-note>{{ currentTrack.author.name }}</ion-note>
      </ion-label>
      <ion-button
        (click)="playOrPause(); $event.stopPropagation()"
        fill="clear"
        color="dark"
      >
        <ion-icon [name]="(isPlaying ? 'pause' : 'play') + '-sharp'"></ion-icon>
      </ion-button>
    </div>
  </ng-template>
</div>
