<ion-header translucent>
  <ion-toolbar>
    <ion-title>Podcasts</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="changeTheme()">
        <ion-icon [name]="theme === 'light' ? 'moon' : 'sunny'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      mode="ios"
      (ionChange)="search($event)"
      [debounce]="500"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- TODO: change true with errorText -->
  <ng-container *ngIf="true">
    <div class="tags">
      <ion-chip
        *ngFor="let tag of tags"
        (click)="onTagClick(tag)"
        [color]="tag.id === activeTag?.id ? 'primary' : 'dark'"
        [style.background]="tag.id === activeTag?.id ? 'aliceblue': 'initial'"
        outline
      >
        {{ tag.name }}
      </ion-chip>
    </div>
    <div *ngIf="isLoading" class="spinner-wrapper">
      <ion-spinner></ion-spinner>
    </div>
    <ion-list *ngIf="!isLoading">
      <app-podcast-item
        *ngFor="let track of podcasts"
        [track]="track"
      ></app-podcast-item>
    </ion-list>
  </ng-container>
</ion-content>
